[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "elf_dump"]
	path = elf_dump
	url = git@github.com:sux2mfgj/elf_dump.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = git@github.com:riscv/riscv-tests.git
